.Auth{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    text-align: center;
}
.Auth h1, label, p{
    color: gold;
}
.Auth button{
    color: gold;
    background-color: black;
    border: 3px solid gold;
    padding: 20px;
    width: 200px;
    font-size: 14px;
}
.Auth input{
    padding: 10px;
    width: 180px;
    color: silver;
    font-size: 14px;
    background-color: black;
    border: 2px solid gold;
}